<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="d-flex">
      <small>*必填欄位</small>
      <h2>請輸入你的支出</h2>
    </div>

    <form action="/records/{{ record._id}}?_method=PUT" class="container needs-validation mt-4" method="POST">
      <div class="input-group mb-3 row justify-content-center ">
        <div class="input-group-prepend form-group">
          <span class="input-group-text" id="basic-addon1">名稱＊</span>
        </div>
        <input id="name" name="name" type="text" class="form-control" value="{{ record.name }}" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3 row justify-content-center">
        <div class="input-group-prepend form-group">
          <span class="input-group-text" id="basic-addon1">日期＊</span>
        </div>
        <input id="date" name="date" type="text" class="form-control" value="{{ record.date }}" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3 row justify-content-center">
        <div class="input-group-prepend form-group">
          <label class="input-group-text" for="inputGroupSelect01">類別＊</label>
        </div>
        <select class="custom-select categoty" id="inputGroupSelect01 category" required>
          <option selected>請選擇...</option>
          <option value="1">餐飲食品</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">家居物業</option>
          <option value="5">其他</option>
        </select>
      </div>

      <div class="input-group mb-3 row justify-content-center">
        <div class="input-group-prepend form-group">
          <span class="input-group-text" id="basic-addon1">金額＊</span>
        </div>
        <input id="amount" name="amount" type="text" class="form-control" value="{{ record.amount }}" aria-label=""
          aria-describedby="basic-addon1" required>
      </div>

      <button type="submit">送出</button>

    </form>
  </div>
</div>