<div class="container "></div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    類別
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">餐飲食品</a>
    <a class="dropdown-item" href="#">交通出行</a>
    <a class="dropdown-item" href="#">休閒娛樂</a>
    <a class="dropdown-item" href="#">家居物業</a>
  </div>
 </div>

 <div class="total-amount d-flex">
   <div> 總金額</div>
   <div> 25260 </div>
 </div>

 <div class="expense-list d-flex">
   <div class="category-img">
    <img src="https://fontawesome.com/icons/utensils?style=solid" alt="eating">
   </div>
   <div class="expense-name">
     <h4 class="name">午餐</h4>
     <p class="date">2019/04/23</p>
   </div>
   <div class="amount">
     <h5>60</h5>
   </div>
   <a href="">修改</a>
   <a href="">刪除</a>
 </div>

<button type="button" class="btn btn-info">新增支出</button>
</div>